
    body{
        background-color:rgb(242, 252, 255);
    }
    
    h1{
        background-color:LightYellow;color:rgb(127, 150, 150);
    }
    #TheiPhone4{
        color: rgb(245, 238, 201);"
    }
    h2{
        color:rgb(134, 116, 104);
    }
    .iphone8 {
        color: rgb(248, 222, 222);background-color:LightYellow;
    }
    .iphone11 {
        color: rgb(210, 245, 201);
    }
    .iphone15 {
        color: rgb(225, 225, 250);
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      .footer {
        text-align: center;
        padding: 10px;
        font-family: fantasy;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(171, 196, 243);
      }
      .tablecenter {
        text-align: center;
        padding: 10px;
        font-family: 'Times New Roman', Times, serif;
        margin-left: auto;
        margin-right: auto;
      }
      .paragraph {
        text-align: center;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
      }
      .heading {
        text-align: center;
        background-color: rgb(183, 195, 212);
      }
      .title{
        text-align: center;
        font-size: 40px;
        font-family: fantasy;
        color: red;

      }
      .title{
        color:red;
    
      }
      .title:hover{
        color: skyblue;
      }
      div.row div {
        background-color: lightblue;
        height: 100px;
        text-align: center;
        border: 1px solid black;
    }